################################################################################
# LaTeX build artefacts
################################################################################
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv
*.dvi
*.nav
*.snm
*.vrb
*.cut

################################################################################
# Common editor / OS noise
################################################################################
ehthumbs.db
# VS Code

# TeXstudio & TeXmaker
*.synctex(busy)*
*.~tex

################################################################################
# Build / cache directories
################################################################################
_build/
latex.out/
latex-temp/
